@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }

  h1 {
    margin: auto;
  }

  #home .wrapper .content {
    flex-direction: column;
    align-items: center;
  }

  #home .wrapper .content img {
    display: none;
  }

  #home .wrapper .content .first {
    align-items: center;
    text-align: center;
  }

  #about .wrapper .content {
    flex-direction: column;
    align-items: center;
  }

  #about .wrapper .content img {
    width: 50%;
  }

  #about .wrapper .content .bio {
    width: 50%;
    margin-top: 50px;
    text-align: center;
  }

  #about .wrapper .content .skills {
    text-align: center;
    width: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #home .wrapper .content .first p {
    line-height: 30px;
    letter-spacing: 0px;
    font-size: 14px;
  }

  #home .wrapper .content .first .buttons {
    flex-direction: column;
  }

  #home .wrapper .content .first .buttons .know-more {
    width: 100%;
  }

  #home .wrapper .content .first .buttons .cv {
    width: 100%;
    margin-top: 20px;
  }

  #about .wrapper .content img {
    width: 100%;
  }

  #about .wrapper .content .bio {
    width: 100%;
  }

  #about .wrapper .content .skills {
    width: 100%;
  }

  #about .wrapper .content .bio p {
    font-size: 1em;
  }

  #about .wrapper .content .skills span {
    font-size: 0.8em;
  }

  #contact .wrapper .email {
    flex-direction: column;
  }

  #contact .wrapper .email input {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
  #contact .wrapper .email button {
    width: 100%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  #home .wrapper .content .first p {
    line-height: 25px;
    font-size: 12px;
  }

  #projects .wrapper a {
    margin: 50px auto 0;
  }

  #projects .wrapper .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  #projects .wrapper .projects .project .details header h3 {
    font-size: 1.2em;
  }

  #projects .wrapper .projects .project .details span {
    font-size: 0.7em;
  }

  #contact {
    height: fit-content;
  }

  #contact .wrapper {
    padding: 0 50px 50px 50px;
  }

  #contact .wrapper .email {
    margin-top: 20px;
  }

  footer .wrapper .links {
    display: none;
  }
}

@media (max-width: 425px) {
  #home .wrapper header {
    justify-content: center;
  }

  #home .wrapper header .socials {
    display: none;
  }

  #home .wrapper .content .first h1 {
    font-size: 50px;
  }

  #home .wrapper .content .first .buttons a {
    font-size: 14px;
    height: 50px;
  }

  #projects .wrapper a {
    font-size: 14px;
    height: 50px;
    width: 225px;
  }

  footer .wrapper {
    justify-content: center;
  }

  footer .wrapper .socials {
    display: none;
  }
}

@media (max-width: 320px) {
  #home .wrapper .content .first h3 {
    font-size: 20px;
  }

  #home .wrapper .content .first h1 {
    font-size: 40px;
  }
}
