* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-size: 14px;
  background: #000000;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

input,
button {
  font-size: 18px;
}

button {
  cursor: pointer;
}

/* #-#-#-#-#-#-#-#-#-#-#-# START: HOME #-#-#-#-#-#-#-#-#-#-#-# */

#home {
  width: 100%;
  height: 100%;
}

#home .wrapper {
  max-height: 100%;
  max-width: 1500px;
  padding: 50px;
  margin: auto;
}

#home .wrapper header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home .wrapper header img {
  height: 50px;
}

#home .wrapper header .socials {
  display: flex;
}

#home .wrapper header .socials img {
  height: 25px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}

#home .wrapper header .socials img:hover {
  transform: scale(1.2);
}

#home .wrapper .content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#home .wrapper .content .first {
  display: flex;
  flex-direction: column;
}

#home .wrapper .content .first h3 {
  color: #ffffff;
  font-size: 3.3em;
  font-family: "Electrolize";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 40px 0 18px;
}

#home .wrapper .content .first h1 {
  position: relative;
  color: #06ec90;
  font-family: "Mont DEMO";
  font-size: 8.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 45px;
}

#home .wrapper .content .first .glitchEffect:before,
#home .wrapper .content .first .glitchEffect:after {
  content: attr(name);
  position: absolute;
  overflow: hidden;
  background-color: #000;
}

#home .wrapper .content .first .glitchEffect:before {
  left: 3px;
  text-shadow: 2px 0 #00ffea;
  animation: glitch 2s infinite linear;
}

#home .wrapper .content .first .glitchEffect:after {
  left: 3px;
  text-shadow: 2px 0 #f2327f;
  animation: glitch 3s infinite linear;
}

#home .wrapper .content .first p {
  font-family: "ModeSeven";
  font-size: 1.3em;
  width: 466px;
  line-height: 40px;
  letter-spacing: 2px;
}

#home .wrapper .content .first p::after {
  content: "";
  position: relative;
  top: 3px;
  display: inline-block;
  width: 15px;
  height: 7px;
  margin-left: 5px;
  background: #ffffff;
  animation: blink 0.7s infinite ease;
}

#home .wrapper .content .first .buttons {
  display: flex;
  margin-top: 50px;
  width: fit-content;
}

#home .wrapper .content .first .buttons a {
  position: relative;
  font-family: "ModeSeven";
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 62px;
  border: 2px solid #06ec90;
  outline: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
}

#home .wrapper .content .first .buttons a::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: scale3d(1.06, 1.4, 1);
  box-shadow: #06ec90 0px 0px 0px 2px inset;
  opacity: 0;
  visibility: hidden;
  border-radius: inherit;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.125, 1) 0s;
}

#home .wrapper .content .first .buttons a:hover::after {
  visibility: visible;
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

#home .wrapper .content .first .buttons .know-more {
  padding: 0 50px;
  margin-right: 20px;
  background: #06ec90;
  color: #212529;
}

#home .wrapper .content .first .buttons .know-more:hover {
  color: #ffffff;
  background: transparent;
}

#home .wrapper .content .first .buttons .cv {
  width: 62px;
  color: #ffffff;
  background: transparent;
}

#home .wrapper .content .first .buttons .cv:hover {
  color: #212529;
  background: #06ec90;
}

#home .wrapper .content .second {
  height: fit-content;
}

#home .wrapper .content .second img {
  height: 700px;
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: HOME #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: ABOUT #-#-#-#-#-#-#-#-#-#-#-# */

#about {
  width: 100%;
  height: 100%;
}

#about .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 1500px;
  padding: 50px;
  margin: auto;
}

#about .wrapper h1 {
  font-size: 3.5em;
  font-family: "Mont DEMO";
  color: #06ec90;
}

#about .wrapper .content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#about .wrapper .content h1 {
  font-size: 2.2em;
  font-family: "Electrolize";
  color: #212529;
  margin-bottom: 30px;
}

#about .wrapper .content img {
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
}

#about .wrapper .content .bio {
  width: 30%;
}

#about .wrapper .content .bio p {
  font-size: 1.3em;
  font-family: "ModeSeven";
  color: #ffffff;
  line-height: 35px;
}

#about .wrapper .content .bio p a {
  color: #06ec90;
  text-decoration: none;
  transition: all 0.2s;
}

#about .wrapper .content .bio p a:hover {
  text-shadow: 0px 0px 10px rgba(6, 236, 144, 1);
}

#about .wrapper .content .skills {
  width: 30%;
}

#about .wrapper .content .skills .skill {
  width: 100%;
  padding: 13px 0;
  display: flex;
  align-items: center;
}

#about .wrapper .content .skills .skill progress {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 150px);
  height: 10px;
  margin-right: 20px;
}

#about .wrapper .content .skills .skill progress[value]::-webkit-progress-bar {
  background-color: #02301e;
  border-radius: 50px;
}

#about
  .wrapper
  .content
  .skills
  .skill
  progress[value]::-webkit-progress-value {
  border-radius: 50px;
  background-color: #06ec90;
  box-shadow: 0px 0px 20px rgba(6, 236, 144, 0.4);
}

#about .wrapper .content .skills .skill span {
  font-size: 1.1em;
  font-family: "ModeSeven";
  color: #ffffff;
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: ABOUT #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: PROJECTS #-#-#-#-#-#-#-#-#-#-#-# */

#projects {
  width: 100%;
  height: 100%;
}

#projects .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1500px;
  padding: 50px;
  margin: auto;
}

#projects .wrapper h1 {
  font-size: 3.5em;
  font-family: "Mont DEMO";
  color: #06ec90;
}

#projects .wrapper a {
  font-family: "ModeSeven";
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #06ec90;
  height: 50px;
  width: 300px;
  text-decoration: none;
  color: #212529;
  outline: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 50px auto;
}

#projects .wrapper a:hover {
  transform: scale(1.1);
}

#projects .wrapper .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}

#projects .wrapper .projects .project {
  background: #171717;
  padding: 25px;
  transition: all 0.2s ease 0s;
}

#projects .wrapper .projects .project:hover {
  transform: scale(1.1);
  z-index: 10;
}

#projects .wrapper .projects .project img {
  width: 100%;
}

#projects .wrapper .projects .project .details {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-family: "Electrolize";
}

#projects .wrapper .projects .project .details header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#projects .wrapper .projects .project .details header h3 {
  font-size: 1.6em;
}

#projects .wrapper .projects .project .details header a {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
  margin: 0;
}

#projects .wrapper .projects .project .details header a:hover {
  transform: scale(1.1);
}

#projects .wrapper .projects .project .details span {
  font-size: 1.05em;
  color: #aaaaaa;
  line-height: 25px;
}
/* #-#-#-#-#-#-#-#-#-#-#-# END: PROJECTS #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: CONTACT #-#-#-#-#-#-#-#-#-#-#-# */

#contact {
  width: 100%;
  height: 100%;
}

#contact .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1500px;
  padding: 50px;
  margin: auto;
}

#contact .wrapper header {
  text-align: center;
}

#contact .wrapper header h1 {
  font-size: 3.5em;
  font-family: "Mont DEMO";
  color: #06ec90;
}

#contact .wrapper header h3 {
  font-size: 2em;
  font-family: "Electrolize";
  color: #212529;
  margin: 15px 0;
}

#contact .wrapper .email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

#contact .wrapper .email input {
  width: 40%;
  height: 50px;
  padding: 0 20px;
  font-family: "Electrolize";
  border: 3px solid #06ec90;
  background: transparent;
  color: #ffffff;
}

#contact .wrapper .email button {
  height: 50px;
  padding: 0 20px;
  font-family: "Electrolize";
  border: none;
  outline: none;
  background: #06ec90;
  transition: all 0.2s;
}

#contact .wrapper .email button:hover {
  filter: opacity(0.8);
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: CONTACT #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: FOOTER #-#-#-#-#-#-#-#-#-#-#-# */

footer {
  width: 100%;
  height: 180px;
  background: #171717;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1500px;
  padding: 50px;
  margin: auto;
}

footer .wrapper img {
  height: 50px;
}

footer .wrapper .links {
  display: flex;
}

footer .wrapper .links a {
  text-decoration: none;
  font-family: "Electrolize";
  color: #ffffff;
  font-size: 1.2em;
  margin: 0 10px;
  transition: all 0.2s;
}

footer .wrapper .links a:hover {
  opacity: 0.5;
}

footer .wrapper .socials {
  display: flex;
}

footer .wrapper .socials a {
  transition: transform 0.2s ease;
}

footer .wrapper .socials a:hover {
  transform: scale(1.2);
}

footer .wrapper .socials a img {
  height: 25px;
  margin: 0 10px;
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: FOOTER #-#-#-#-#-#-#-#-#-#-#-# */
